.dispalyBlock{
    display: block !important;
}

.header-logo{
    width: 15rem;
}

.container-fluid{
    padding-left: 4rem !important;
    padding-right: 4rem !important;
}

.footer-links{
    a:hover{
        margin-left: 1rem;
    }
}